#news{
    padding:100px 0;
    .row:first-child {
        margin-bottom: 27px;
    }
    .row:nth-child(2) div{
        text-align:center;
        margin:0 auto;
    }
    
    .thumb{
       max-width:360px;
        position:relative;
        overflow: hidden;
        img{
            width: 100%;
            max-height:378px;
        }
        .info{
            width: 100%;
            --max-height:378px;
            margin:0;
            position:relative;
            padding:40px;
            background-color:$mainColor;
            font-family: $font-two;
            h1{
                font-size:48px;
                 margin:0;
            }
            h3{
                font-size:16px;
                margin-top:0;
            }
            h6{
                font-size: 20px;
                font-weight: 500;
                margin:28px 0 25px 0;
            }
            p{
                font-family:$font-three;
            }
        }
    }
     .second .info:after{
             content:"";
             border-bottom:0 solid transparent;
             border-top: 20px solid $mainColor;
             border-left:15px solid transparent;
             border-right:15px solid transparent;
             position: absolute;
             bottom:-20px;
             left:calc(100% / 2 - 15px);
         }
    .first .info:after{
             content:"";
             border-top:0 solid transparent;
             border-bottom: 20px solid $mainColor;
             border-left:15px solid transparent;
             border-right:15px solid transparent;
             position: absolute;
             top:-20px;
             left:calc(100% / 2 - 15px);
         }  
    .button1{
        @include button($blueColor,141px);
        margin-top:25px;
    }
}