#header{
	font-family:$font-one;
	font-size:14px;
	color:$textColor;
	letter-spacing: 1px;
    overflow:hidden;
	.header1{
		background-color: $mainColor;
		height: 50px;
		font-size:13px;
			span{
				line-height: 50px;
				display: inline-block;
				&:last-child{
					padding-right:29px;
					border-right:1px solid #d8e3e6;
					font-size:14px;
					float:right;
					i {
						font-size:25px;
						position: relative;
						top:3px;
					}
				}
				&:nth-child(2){
					padding-left:27px;	
					float:right;
					 i {
						font-size:20px;
						position: relative;
						top:1px;
					}
				}
		    }
		}
		
	.header2{
        .navbar{
            margin-bottom: 0px;
        }
        .navbar-toggle{
			margin-top: 10px;
			background-color:#eee;
            .icon-bar{
			background-color:#333 !important;
		    }
		}
		.navbar-brand{
			padding:10px 15px 10px 15px;
            height:60px;
		}
		#navbar{
			background-color:white !important;
		}
	   .navbar-right > li{
            overflow: hidden;
        } 
        li{
    	   a{
			color: $textColor;
            line-height: 65px;
			padding:0 20px;
			&:hover{
				background-color:transparent;
				color:black;
			}
			&:focus{
				background-color:transparent;
			}
			}
			.active{
				color:black;
			}
			i{
				font-size:8.5px;
			}
			.button1{
			@include button($blueColor,141px);
			position:relative;
			top:10px;
            margin-bottom: 30px;
			}
        }
	}
}
@media only screen and (max-width: 650px) {
    #header .header1 span:last-child {
        display: none;
    }
    #header .header1 span:nth-child(2) {
        display: none;
    }
}