#location{
	padding-top:100px;
	.row:first-child {
		margin-bottom: 40px;
	}
	.col-md-4{
		margin-top: 40px;
	}
	.location{
		position:absolute;
		top:45%;
		right:35%;
	}
	.info {
		font-size:16px;
		font-family: $font-one;
		text-transform: uppercase;
		span{
			display:inline-block;
			border:2px solid $blueColor;
			border-radius:50%;
			line-height:65px;
			width: 65px;
			height:65px;
			margin-bottom:20px;
		}

	}
	.line{
		border-bottom:1px solid lighten( gray,35%);
		margin:50px 0 70px 0;
	}

}