#start_up{
   padding-top:100px;
   	p{
	   	font-family: $font-three;
	   	font-weight:400;
	   	color:$textColor2;
	   	font-size: 14.5px;
    }
	.col-md-7{
		p{
			margin:28px 0 55px 0;
		}
	
		.img_1 {
			width: 585px;
			height: 301px;
		}
	}// col-md-7
	.col-md-5{
		.clearFix{
			clear: both;
			margin-bottom:33px;
		}
		.icon {
			width:67px;
			height: 67px;
			text-align:center;
			line-height: 65px;
			background-color: $mainColor;
			float:left;
		}
		.icon:hover, .active {
			background-color:$orangeColor;
		}
		.info{
			margin-top:-2px;
			float:left;
			padding-left:30px;
			position: relative;
			width: calc(100% - 67px);
		}
		h3{
			font-size:20px;
			margin-top:0;
			font-family:$font-two;
			font-size: 500;
			letter-spacing: 1px;
		}
		.button1{
				clear:both;
				@include button($blueColor,165px);
				margin-left: 100px;
		}
	}//col-md-5
}