#portfolio{
	padding-top:100px;
	.row{
		margin-bottom:50px;
	}
	.col-md-6{
		div{
			width: 100%;
			margin-bottom:30px;
			box-sizing: border-box;
			padding-top:120px;
			h5,a{
				display:none;
			}
			--transition:all 0.5s ease;
			&:hover{
				border:10px solid gray;			
				background-image:none;
				cursor: pointer;		
				h5{
					display:block;
					color:gray;
					font-family:$font-two;
					font-weight: 600;
					font-size:16px;
					text-transform:uppercase;
				}
				a{
					display:block;
					color:darken(gray, 30%);
				}
			}
		}

		.img0{
			height:380px;
			background-image: url("../images/portfolio1.jpg");
			background-size:cover;
		}
		.img1{
			height:380px;
			background-image: url("../images/portfolio4.jpg");
			background-size:cover;
		}
		.img2{
			height:380px;
			background-image: url("../images/news.jpg");
			background-size:cover;
		}
		.img3{
			height:380px;
			background-image: url("../images/portfolio2.jpg");
			background-size:cover;
		}
		.img4{
			height:380px;
			background-image: url("../images/portfolio3.jpg");
			background-size:cover;
		}
		.img5{
			height:380px;
			background-image: url("../images/portfolio5.jpg");
			background-size:cover;
		}
		
		}
		
	
}
