#reality{
	font-family:$font-one;
	padding-top:100px;
	background-color:$mainColor;

	.icon {
		width:67px;
		height: 67px;
		text-align:center;
		line-height: 65px;
		float:left;
	}
	.star > div{
		margin-bottom:68px;
	}
	.info{
		margin-top:-2px;
		float:left;
		padding-left:30px;
		position: relative;
		width: calc(100% - 67px);
		h3{
			font-size:60px;
			margin-top:0;
			margin-bottom:0;
			letter-spacing: 1px;
			font-width: 800;
		}
		span{
			text-transform: uppercase;
			display:block;
		}
	}
}
